
div#contenue div{
    /*display: inline-block;*/
    width: 48%
}



/* left box */
div#contenue div.Leftbox{
    vertical-align: top;
}

div#contenue div.Leftbox h1{
    padding-left: 730px;
    padding-bottom: 730px;
    margin: 110px;
    text-decoration: underline;
    width: 20em;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 300;
}

div#contenue div.Leftbox p{
    margin: 20px;
    padding-left: 670px;
}


/*menu nav*/

nav.Menu{
    position: absolute;
    top: 110px;
    left: 530px;
}

nav.Menu ul li.btn{
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
}

nav.Menu ul li.btn a{
    color: #000000;
    text-decoration: none;
    background-color: #ffff;
    padding: 20px;

}
/*corps*/
body{

    background: url(../Images/17470011.jpg) no-repeat;
    background-size: 1980px;
    background-color: #0000;
    width: 860px;
    margin:0 auto;
    text-align: center;
    align-content: center;
    border-radius: 10px;
     margin-bottom:2em;
}

nav.Menu ul li.btn:hover a{
    color: #000000;
    background-color: #0E8FE3;
    transition: 0.90s all;
}

header{
    display: flex;
    align-items: center;
    /*background-color: #fff;*/
    margin-left: 10px;
    padding-left: 30px;
}

header, p{
    padding-bottom: 10px;
}

footer{
    background-color: #000000;
    color: #777;
    opacity: 0.7;
}

/*text*/
div.Textbox{
    font-family: American Typewriter, serif;
    border: solid;
    background-color: white;
    width: 770px;
    height: 530px;
    text-align: justify;
    position: absolute;
        top: 300px;
        left: 600px;
}

/*buton*/
div.Topbox{
    position: absolute;
    top: 250px;
    left: 850px;
}

/*  Gros bouton */
.bouton a{
background:-webkit-linear-gradient(top,#588E44 0%,#ABC8E2 100%);/*Chrome et safari*/
padding:10px 15px;
-moz-box-shadow:0px 0px 5px #000000;
-webkit-box-shadow:0px 0px 5px #000000;
box-shadow:0px 0px 5px #000000;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:1px solid #000000;
color:#000000;
font-weight:bold;
text-transform:uppercase;
text-shadow:0px 1px 1px #C4D7ED;
